@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Manrope', sans-serif;
}


.banner-img{
    background: url("https://i.ibb.co/BjfcPZQ/banner-2.jpg");
    background-position: center;
    background-size: cover;
}

.banner-overlay{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    background: rgba(12, 12, 12, 0.8) ;
    flex-direction: column;
}

